.topbar {
  height: 250px;
  background-color: #375cbb;
  display: flex;
  justify-content: end;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.menu {
  width: 400px;
  display: flex;
  justify-content: space-evenly;
  font-size: medium;
  padding-right: 30px;
  padding-top: 50px;
}
